header-content-bg-base()
  background-color #f4b504
  background-image url(../img/buildbot.svg)
  background-repeat no-repeat
  background-attachment fixed
  background-position center -50px
  background-size 450px
  position absolute
header-content-bg-360()
  background-position center -50px
  background-size 450px
header-content-bg-600()
  background-position center 70px
  background-size 450px
header-content-bg-800()
  background-position center -100px
  background-size 680px
header-content-bg-1030()
  background-position center 100px
  background-size 1100px
header-content-bg-1280()
  background-position center 300px
  background-size 1100px
.main-header
  background #27a1c5

.header-title
  header-content-bg-base()
  background-image url(../img/buildbot-line.svg)
  position relative
  background-color #1793B3
  padding-top 50px
  padding-bottom 40px
  text-align center
  .bounds
    display inline-block
    width auto
  h1
    font-family league_spartan
    font-size 2rem
    line-height 2rem
  .subhead
    font-family league_spartan
    font-size 1rem
    line-height 3rem
    position relative
  .description
    font-size 1.2rem
    margin 20px 0 40px
    max-width 330px
  .button--cta
    position relative
    margin 0 auto
    font-size 1.2rem
    text-transform none
    font-weight bold
  .pricing
    margin 60px auto 40px
    max-width 280px
    h2
      padding-bottom 8px
      border-bottom 1px solid #FFF
      font-size 1.2rem
      font-weight 900
      margin-bottom 10px
    li
      display flex
      font-size 1rem
      span
        flex-shrink 0
    .leader
      flex-grow 1
      border-bottom 2px dotted
      margin 0 8px
      position relative
      top -8px
.main-content
  header-content-bg-base()
  background-image url(../img/buildbot-line-dark.svg)
  background-color #FFF
.header-bounds
  @extend .bounds
  width 100%
  height 330px
  overflow hidden
.logo
  position absolute
  width 120px
  height 53px
  overflow hidden
  right 63px
  top 235px
.adobe-logo
  width 52px
  position absolute
  top 0
  right 20px
  z-index 2
.header-title
  color #FFF
  background #1793B3
  padding 20px
.ipad-air2
  width 348px
  height 512px
  position absolute
  display none
  .content-mask
    width 298px
    height 398px
    left 28px
    top 54px
    header-content-bg-base()
.galaxy-s6
  width 368px
  height 190px
  position absolute
  left 5px
  top 5px
  transform-origin 0 0
  transform scale3d(.842391304,.842391304,1)
  .content-mask
    width 278px
    height 154px
    left 48px
    top 14px
    header-content-bg-base()
  &:after
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    content url(../img/galaxy-s6-shine.svg)
.iphone-6
  width 352px
  height 178px
  position absolute
  left 3px
  top 157px
  transform-origin 0 0
  transform scale3d(.842391304,.842391304,1)
  .content-mask
    width 258px
    height 144px
    left 50px
    top 14px
    header-content-bg-base()
    background-position center -70px
.nexus-9
  width 570px
  height 386px
  position absolute
  display none
  .content-mask
    width 446px
    height 334px
    left 66px
    top 22px
    header-content-bg-base()
.fire-hdx
  width 580px
  height 398px
  position absolute
  display none
  .content-mask
    width 478px
    height 298px
    left 54px
    top 48px
    header-content-bg-base()
.lumia-640xl
  width 216px
  height 400px
  position absolute
  display none
  .content-mask
    width 166px
    height 312px
    left 26px
    top 40px
    header-content-bg-base()
.one-m9
  width 372px
  height 188px
  position absolute
  display none
  .content-mask
    width 276px
    height 156px
    left 46px
    top 12px
    header-content-bg-base()
@media only screen and (min-width: 360px)
  .header-title
    header-content-bg-base()
    header-content-bg-360()
    background-image url(../img/buildbot-line.svg)
    position relative
    background-color #1793B3
  .main-content
    header-content-bg-base()
    header-content-bg-360()
    background-image url(../img/buildbot-line-dark.svg)
    background-color #FFF
  .logo
    right 53px
    top 288px
  .header-bounds
    max-width 380px
    width 100%
    height 380px
  .galaxy-s6
    transform none
    left 0px
    .content-mask
      header-content-bg-360()
  .iphone-6
    top 186px
    left 24px
    transform none
    .content-mask
      header-content-bg-360()
@media only screen and (min-width: 600px)
  .header-title
    header-content-bg-base()
    header-content-bg-600()
    background-image url(../img/buildbot-line.svg)
    position relative
    background-color #1793B3
    padding-top 50px
    padding-bottom 40px
    h1
      font-size 4rem
      line-height 4rem
    .subhead
      font-size 1.2rem
      line-height 1.5rem
      left -92px
    .description
      font-size 1.5rem
      margin 20px auto 20px
      max-width 400px
    .button--cta
      position relative
      margin 0 auto
      font-size 1.2rem
    .pricing
      max-width 335px
      h2
        font-size 1.5rem
      li
        font-size 1.25rem
  .main-content
    header-content-bg-base()
    header-content-bg-600()
    background-image url(../img/buildbot-line-dark.svg)
    background-color #FFF
  .logo
    width 230px
    height auto
    right 52px
    top 337px
  .header-bounds
    max-width 600px
    width 100%
    height 532px
  .galaxy-s6
    display none
  .iphone-6
    display none
  .ipad-air2
    display block
    left 230px
    top 10px
    .content-mask
      header-content-bg-600()
  .lumia-640xl
    display block
    left 20px
    top 70px
    .content-mask
      header-content-bg-600()
@media only screen and (min-width: 800px)
  .header-title
    header-content-bg-base()
    header-content-bg-800()
    background-image url(../img/buildbot-line.svg)
    position relative
    background-color #1793B3
  .main-content
    header-content-bg-base()
    header-content-bg-800()
    background-image url(../img/buildbot-line-dark.svg)
    background-color #FFF
  .logo
    width 300px
    right 58px
    top 249px
  .header-bounds
    max-width 800px
    width 100%
    height 440px
  .ipad-air2
    display none
  .fire-hdx
    display block
    top 30px
    left 218px
    .content-mask
      header-content-bg-800()
  .lumia-640xl
    top: 8px
    left: 1px
    .content-mask
      header-content-bg-800()
@media only screen and (min-width: 1030px)
  .header-title
    header-content-bg-1030()
    background-image url(../img/buildbot-line.svg)
    position relative
    background-color #1793B3
    padding-top 150px
    padding-bottom 120px
    h1
      font-size 6rem
      line-height 5rem
    .subhead
      left -98px
      font-size 1.5rem
      line-height 2.5rem
    .description
      position relative
      margin 20px auto 40px
      max-width 400px
      font-size 1.5rem
  .main-content
    header-content-bg-base()
    header-content-bg-1030()
    background-image url(../img/buildbot-line-dark.svg)
    background-color #FFF
  .pricing
    margin 100px auto 40px
  .logo
    width 360px
    right 136px
    top 65px
  .header-bounds
    max-width 1030px
    width 100%
    height 840px
  .ipad-air2
    display block
    left 20px
    top 80px
    .content-mask
      header-content-bg-1030()
  .fire-hdx
    display block
    left 375px
    top 10px
    .content-mask
      header-content-bg-1030()
  .nexus-9
    display block
    left 380px
    top 420px
    .content-mask
      header-content-bg-1030()
  .one-m9
    display block
    top 600px
    left 0
    .content-mask
      header-content-bg-1030()
  .lumia-640xl
    display none
@media only screen and (min-width: 1280px)
  .header-title
    header-content-bg-1280()
    background-image url(../img/buildbot-line.svg)
    background-color #1793B3
    text-align center
    padding-top 150px
    padding-bottom 150px
    position relative
  .main-content
    header-content-bg-base()
    header-content-bg-1280()
    background-image url(../img/buildbot-line-dark.svg)
    background-color #FFF
  .header-bounds
    max-width 1280px
    height 1698px
  .logo
    width 1280px
    margin 0 auto
    position absolute
    top 0
    right auto
    padding 20px 20px 0
    box-sizing border-box
    z-index 1
  .ipad-air2
    display block
    left 56px
    top 854px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .galaxy-s6
    display block
    left 325px
    top 648px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .iphone-6
    display block
    left 726px
    top 703px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .nexus-9
    display block
    left 458px
    top 886px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .fire-hdx
    display block
    left 420px
    top 1283px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .lumia-640xl
    display block
    left 1038px
    top 988px
    z-index 2
    .content-mask
      header-content-bg-1280()
  .one-m9
    display block
    left 15px
    top 1398px
    z-index 2
    .content-mask
      header-content-bg-1280()
