@import "reset"
@import "fonts"
@import "splash"

:root
  font-size 16px
body
  font-family 'adobe-clean', Helvetica, Arial, sans-serif
  color #033351
  line-height 1.75rem
  -webkit-font-smoothing antialiased
.bounds
  max-width 1280px
  position relative
  margin 0 auto
.text-bounds
  @extend .bounds
  max-width 900px
  box-sizing border-box
  padding-left 10px
  padding-right 10px
a
  color #27a1c5
  text-decoration none
  &:hover
    text-decoration underline

@import "header"
@import "eu-header.styl"

.button--cta
  border-radius: 4px
  background: #f4b504
  color: white
  text-transform: uppercase
  border: none
  font-size: 1.0625rem
  font-weight: normal
  padding: 8px 27px 10px
  text-decoration: none
  display: inline-block
  &:hover
    text-decoration: none
    background: #f2a700
.main-content
  width 100%
  section
    margin-bottom 40px
  h1
    font-family league_spartan
    font-size 2rem
    text-transform uppercase
    max-width 350px
    line-height 3.5rem
    margin-bottom 30px
  .sub
    font-size 1.25rem
    max-width 420px
    font-weight bold
  p
    margin 0 0 20px
    max-width 420px
.about
  h1
    -webkit-column-span all
    column-span all
  .text-bounds
    max-width 920px
    padding-top 120px
    column-count 1
    max-width 440px
  p
    max-width 430px
    vertical-align top
    font-size 1rem
    line-height 1.8rem
    // &:first-of-type
    //   margin-right 36px
.about-details
  background #033351
  color white
  width 100%
  box-sizing border-box
  padding 60px 30px
  overflow hidden
  img
    width 100%
    height auto
  p
    max-width 420px
.about-heading
  max-width 420px
  font-size 2rem
  line-height 2.7rem
  font-family league_spartan
  text-transform uppercase
.about--skiing, .about--sessions, .about--networking
  position relative
  margin 0 auto
  max-width 420px
  margin-bottom 50px
  &:last-child
    margin-bottom 0
.audience-image
  display none
.speaker-section
  .text-bounds
    max-width 900px
  .speaker-list
    list-style none
    margin 0
    padding 0
    column-count 1
    column-gap 30px
.speaker--photo
  border-radius 125px
  width 125px
  height 125px
.speaker
  box-sizing border-box
  text-align center
  -webkit-column-break-inside avoid
  column-break-inside avoid
  padding 0 20px
  max-width 350px
  position relative
  margin 0 auto
  text-align center
  &::after
    content ' '
    height 50px
    display block
.speaker--bio
  text-align left
.speaker--name
  font-size 1.5rem
  margin-bottom 0
  text-align center
.speaker--title
  font-size 1rem
  font-weight 200
  font-style italic
  line-height 1.1rem
  a
    color #033351
.schedule-section
  h1
    -webkit-column-span all
    column-span all
  .text-bounds
    column-count 1
    column-gap 30px
  li
    -webkit-column-break-inside avoid
    column-break-inside avoid
.full
  width 100%
  height auto
  display block
.map
  width 100%
  height 300px
  background url('/img/map.png') center
  background-size cover
  display block
.columns
  .text-bounds
    column-count 1
    column-gap 30px
  section
    -webkit-column-break-inside avoid
    column-break-inside avoid
.speaker-page-content
  @extend .main-content
  height 100%
  h1
    line-height 2.5rem
.session
  margin-bottom 20px
.sessions--heading
  font-size 2rem
  margin-bottom 10px
.session--title
  font-size 1.2rem
  line-height 1.2rem
  margin-bottom 10px
.sessions, .workshops
  margin-top 30px
.session--description
  text-align left
.session-list
  list-style none
  margin 0
.speaker-page--header
  height 120px
  background #1793b3
  width 100%
  box-sizing border-box
  padding 15px 0
  text-align center
  img
    height 100%
    &:last-child
      opacity 0.9
      margin-left 20px
.workshops
  text-align center
  header
    color white
    background #033351
.workshop--list
  list-style none
  display flex
  flex-direction column
  border 1px solid rgba(3,51,81,0.2)
  & > li
    width 100%
    padding 2px 5px
    box-sizing border-box
    &:nth-child(n+2)
      border-left 0
      border-top 1px solid rgba(3,51,81,0.2)
.workshop--speaker, workshop--title
  display block
.workshop--title
  font-weight bold
  font-size 1.125rem
.workshop--speaker-list
  list-style none
  & > li
    display inline-block
    &:nth-child(-n+1):after
      content ","
      margin-right 3px
    &:last-child:before
      content "and "
@media only screen and (min-width: 400px)
  .speaker-section
    .speaker-list
      column-count 2
@media only screen and (min-width: 550px)
  .speaker-section
    .speaker-list
      column-count 2
  .speaker
    padding 0
  .main-content
    h1
      font-size 3rem
  .speaker--photo
    width 250px
    height 250px
  .workshop--list
    flex-direction row
    & > li:nth-child(n+2)
      border-left 1px solid rgba(3,51,81,0.2)
      border-top 0
@media only screen and (min-width: 950px)
  .speaker-section
    .speaker-list
      column-count 3
  .about
    .text-bounds
      column-count 2
      max-width 920px
  .about-details
    img
      margin-bottom 30px
    .text-bounds
      max-width 920px
      > div
        max-width 100%
  .about-heading
    font-size 2.25rem
  .about--sessions
    left -50px
    .about-heading
      position absolute
      left 348px
      top -5px
    p
      position absolute
      left 348px
      top 110px
    img
      width 470px
  .about--networking
    left -30px
    img
      width 450px
  .about--skiing
    position absolute
    top 270px
    left 490px
    img
      width 460px
    .audience-image
      display block
      width 450px
  .schedule-section .text-bounds
    column-count 2
  .columns
    .text-bounds
      column-count 2
